@import "./../../style.css";

:root {
  --header-bg-color: var(--pearl-white);
  --header-text-color: var(--honey-yellow);
  --header-hover-color: var(--gray-silk);
  --header-hover-text-color: var(--pearl-white);
  --header-active-color: var(--gray-silk);
  --header-focus-color: var(--pale-green);
}

.header {
  font-size: 1rem;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  background: var(--header-bg-color);
  z-index: 99;
}

.logo img {
  width: 10em;
  height: 4em;
  margin-left: 2em;
}

.menu ul {
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0 1.5rem;
  border-radius: 0.4em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Niagara Solid", sans-serif;
  color: var(--header-text-color);
  line-height: 4rem;

}

.menu a:hover {
  background: var(--header-hover-color);
}

.menu a:active {
  background: var(--header-active-color);
}

.menu a:focus {
  background: var(--header-focus-color);
}

.enter-menu {
  margin: 1.5rem 1rem;
}

.video-fon {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap-block h1, .wrap-block h2, .wrap-block p {
  font-style: italic;
}

.wrap-block h1 {
  color: var(--header-hover-text-color);
  font-size: 3rem;
}

.wrap-block h2 {
  color: var(--header-text-color);
  font-size: 2rem;
}

.wrap-block p {
  color: var(--header-hover-text-color);
  font-size: 1.5rem;
}

