<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./../button/button.css">
  </head>
  <body>
    <header class="header">
      <section class="logo"><img src="logo.svg" alt="logo"></section>
      <nav class="menu">
        <ul>
          <li><a href="#" tabindex="1">Главная</a></li>
          <li><a href="#" tabindex="1">О нас</a></li>
          <li><a href="#" tabindex="1">Галерея</a></li>
          <li><a href="#" tabindex="1">Контакты</a></li>
        </ul>
      </nav>
      <section class="enter-menu">
        <a href="#" title="Button" role="button" tabindex="1" class="button">
          Вход
        </a>
        <a href="#" title="Button" role="button" tabindex="1" class="button">
          Регистрация
        </a>
      </section>
    </header>
  </body>
</html>