<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Footer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./content.css">

    <link rel="stylesheet" href="./style/components/header/header.css">
    <link rel="stylesheet" href="./style/components/button/button.css">
    <link rel="stylesheet" href="./style/components/slider/slider.css">
    <link rel="stylesheet" href="./style/components/content/content.css">
    <link rel="stylesheet" href="./style/components/footer/footer.css">
  </head>
  <body>
    <main class="container"></main>
  </body>
</html>