@import "./../../style.css";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  --gallery-bg-color: var(--pearl-white);
  --gallery-bg-h3-color: var(--pearl-white);
  --footer-text-color: var(--honey-yellow);
  --footer-hover-color: var(--pearl-white);
  --footer-hover-text-color: var(--thunder);
}

.main-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spring, .spring-summer, .summer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vh 0;
}

.spring, .spring-summer, .summer h2 {
  text-align: center;
}

.spring__gallery ,
.spring-summer__gallery ,
.summer__gallery {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: .5vw;
}

.spring h2,
.spring-summer h2,
.summer h2 {
  font-size: 3em;
  background-color: rgba(120, 101, 56, 0.51);
  color: white;
  border-radius: 33px;
}

.boxImg {
  flex: auto;
  width: 350px;
  margin: .5vw;
  position: relative;
  overflow: hidden;
}


.boxImg img {
  width: 100%;
  height: 38em;
  transition: .5s;
}

.boxImg_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.boxImg_container:before, .boxImg_container:after {
  content: '';
  width: 25em;
  height: 38em;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(78, 85, 91, 0.78);
  opacity: 0;
  transition: 1s;
}

.boxImg_container:before {
  transform: translateX(-125%) rotate(45deg);
}

.boxImg_container:after {
  transform: translateX(190%) rotate(45deg);
}

.boxImg_text {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  color: #ffffff;
  text-align: center;
  z-index: 10;
}

.boxImg:hover a.bt {
  opacity: 1;
  transition: .5s;
  text-decoration: none;
  color: #ffffff;
}

.boxImg:hover a.bt:hover {
  color: #000000;
}

.boxImg_text h3 {
  margin-bottom: 1.3em;
  font-size: 2em;
  transition: .5s;
  transform: scale(0);
}

.boxImg_text p{
  font-size: 1em;
  padding: 0 50px;
  text-align: justify;
  transform: scale(2);
  transition: .5s;
  opacity: 0;
}

.bt {
  position: absolute;
  top: 100%;
  left: 30%;
  color: #3f2c08;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #3f2c08;
  padding: 16px 30px;
  border-radius: 8px;
  opacity: 0;
  transition: .2s ease-in-out;
  overflow: hidden;
}

.bt:before {
  content: '';
  position: absolute;
  top: -8px;
  left: -75px;
  height: 60px;
  width: 50px;
  background: linear-gradient(90deg, rgba(228, 142, 103, 0.26), rgba(86, 76, 44, 0.73));
  opacity: 0;
  transition: 0.2s ease-in-out;
  transform: skewX(-45deg);
}

.bt:hover:before {
  left: 180px;
  transition: .5s ease-in-out;
}

.bt:active {
  border: 2px solid black ;
}

.boxImg:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.boxImg:hover .boxImg_container:before {
  transform: translateX(0) rotate(0deg) scale(1.2);
  transition: .5s;
  opacity: .6;
  z-index: 3;
}

.boxImg:hover .boxImg_container:after {
  transform: translateX(0) rotate(90deg) scale(1);
  transition: .5s;
  opacity: .6;
  z-index: 3;
}

.boxImg:hover .boxImg_text h2 {
  transform: scale(1);
}

.boxImg:hover .boxImg_text p {
  transform: scale(1);
  opacity: 1;
}






