:root {
  --pearl-white: #f4f1e8;
  --pale-green: #e2e2c7;
  --gray-silk: #c4bfa8;
  --honey-yellow: #a58b08;
  --thunder: #0c0202;
}

/* Mobile-First */
/* Normalization */

body {
  background: var(--pale-green);
  color: var(--honey-yellow);
  font: .9em tahoma, verdana, arial normal;
  margin: 0;

}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------- О нас -----------------------------------------------------*/

/* ------------------------ Галерея --------------------------------------------------*/

/* ------------------------ Контакты ---------------------------------------------------*/

