@import "./bootstrap.min.css";
@import "./components/button.css";
@import "./components/slider.css";
@import "./components/content.css";
@import "./components/about_us.css";
@import "./components/gallery.css";
@import "./components/footer.css";
@import "./components/contacts.css";
@import "./components/header.css";

:root {
  --pearl-white: #f4f1e8;
  --pale-green: #C4BFA8;
  --gray-silk: #c4bfa8;
  --honey-yellow: #a58b08;
  --thunder: rgb(12, 2, 2);
}

/* Mobile-First */
/* Normalization */

* {
  transition: .2s;
}

body {
  background: var(--pale-green);
  color: #3f2c08;
  font: .9em tahoma, verdana, arial normal;
  margin: 0;
  outline: 1px solid var(--honey-yellow);

}

a {
  text-decoration: none;
  color: var(--honey-yellow);
}