:root {
  --pearl-white: #f4f1e8;
  --pale-green: #C4BFA8;
  --gray-silk: #c4bfa8;
  --honey-yellow: #a58b08;
  --thunder: rgb(12, 2, 2);
}

/* Mobile-First */
/* Normalization */

body {
  background: var(--pale-green);
  color: #3f2c08;
  font: .9em tahoma, verdana, arial normal;
  margin: 0;

}

a {
  text-decoration: none;
  color: var(--honey-yellow);
}

/* ----------------------- О нас -----------------------------------------------------*/

/* ------------------------ Галерея --------------------------------------------------*/

/* ------------------------ Контакты ---------------------------------------------------*/

