@import "./../style.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  --about-text-color: inherit;
}

.introduction {
  padding-top: 3em;
}

.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 4em;
}

.about-us__intro {
  width: 90%;
  max-width: 1920px;
  margin: 1em 0;
  color: inherit;
}

.about-us__intro h1{
  margin: 1em 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: var(--about-text-color);
  font-weight: bold;
}