@import "./../style.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  --footer-bg-color: var(--pearl-white);
  --footer-bg-basement-color: var(--thunder);
  --footer-text-color: var(--honey-yellow);
  --footer-hover-color: var(--pearl-white);
  --footer-hover-text-color: var(--thunder);

}


.about-us {
  width: 100%;
  font-size: 1rem;
  margin-top: 4em;
}

.about-us__intro {
  margin: 1em 0;
  color: var(--footer-text-color);
}

.about-us__intro h1{
  margin: 1em 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
}

.section {
  margin-top: 4em;
}