@import "./../style.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  --content-bg-color: var(--pale-green);
  --content-text-color: var(--honey-yellow);
}

.contacts_box {
  width: 100%;
  font-size: 1rem;
  margin: 0;
  height: 100%;
  background-color: var(--content-bg-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3f2c08;
  font-size: 2em;
}

.contacts h1 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 3.2rem;
}

.contacts__content {
  width: 95%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: var(--content-bg-color);
  font-size: 1.5rem;
  text-align: left;
}

.contacts__content ul {
  padding: 0;
}

.contacts__content_data {
  margin-right: 2em;
}

@media screen and (max-width: 1440px) {
  .contacts__content_data {
    margin-right: 0;
  }
}

.contacts__content_data p {
  text-align: center;
}

.contacts__content_data a {
  color: #3f2c08;
  text-decoration: none;
  list-style-type: none;
}

.contacts__content_data a:hover {
  color: var(--content-text-color);
  text-decoration: none;
  list-style-type: none;
}

.content__map_desktop, .content__map_tablet, .content__map_mobile {
  width: 100%;
  max-width: 1920px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--content-bg-color);
  z-index: 0;
}

.content__map_tablet, .content__map_mobile {
  display: none;
}



@media screen and (max-width: 900px) {
  .content__map_tablet {
    display: flex;
  }
  .content__map_desktop{
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .content__map_mobile {
    display: flex;
  }
  .content__map_tablet{
    display: none;
  }
}