@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import "./../style.css";

/* ------------------------ Slider  -------------------------------- */

.slider__section {
  font-size: 1rem;
  width: 100%;
  max-width: 1920px;
  padding-top: 2em;
}
.slider {
  height: 30rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 30rem;
}

.carousel-inner img {
  transform: translateY(-10%);
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-85%);
  text-shadow: 1px 1px 10px #000;
}

.btn a{
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.btn a:hover{
  color: #000;
  transform: scale(1.5);
}

@media (min-width: 450px) {
  .carousel-caption .display-2 {
    font-size: 3em;
  }
}

@media (max-width: 360px) {
  .carousel-caption .display-2 {
    font-size: 2.2em;
  }
}
