@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import "./../../style.css";


:root {
  --header-bg-color: var(--pearl-white);
  --header-text-color: var(--honey-yellow);
  --header-hover-color: var(--gray-silk);
  --header-hover-text-color: var(--pearl-white);
  --header-active-color: var(--gray-silk);
  --header-focus-color: var(--pale-green);
}
/* ------------------------ Slaider  -------------------------------- */

.slider__section {
  font-size: 1rem;
  width: 100%;
  margin-top: 4em;
  padding-top: 2em;
}
.slider {
  height: 30rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  width: 60em;
}

.carousel-inner {
  height: 30rem;
}

.carousel-inner img {
  transform: translateY(-10%);
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
  text-shadow: 1px 1px 10px #000;
}

.btn a{
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.btn a:hover{
  color: #000;
  transform: scale(1.5);
}

@media (min-width: 450px) {
  .carousel-caption .display-2 {
    font-size: 3em;
  }
}

@media (max-width: 360px) {
  .carousel-caption .display-2 {
    font-size: 2.2em;
  }
}
